#P1 {
    color:darkslategrey;
    font-family: 'Segoe UI';
    font-weight: bold;
    border: dotted;
    border-radius: 30px;
}

#P2 {
    color: orangered;
    font-family: "Roboto";
    border: dotted;
    border-radius: 30px;
}

#Apprentice {
    text-align: center;
    position:relative;
}

#Apprentice img {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.text-over-image {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    border: dotted;
}

.small-img {
    width: 50px;
    height: 50px;
}